<div class="mt-5">
    <form method="POST" action="news">
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa ... ">
        </div>
        <div class="mb-3">
            <label for="grender-input">Từ khóa</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">tìm kiếm</button>
    </form>
</div>